@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#LandingPage {
  background-image: url("../../public/assets/Group\ 26953.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#About {
  background-image: url("../../public/assets/bgabout.png");
}

.font-montserrat {
  font-family: "Monserrat", sans-serif;
}

#settings {
  background-image: url("../../public/assets/bgabout.png");

  height: 100vh;
  width: 100vw;
  background-color: #fffbfa;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: black; /* Ubah warna ikon */
  filter: invert(1); /* Untuk memastikan warna berubah menjadi hitam */
  opacity: 1; /* Pastikan ikon terlihat */
}

.custom-swal {
  font-family: "Arial", sans-serif; /* Ubah font secara keseluruhan */
}

.custom-swal-title {
  font-family: "Roboto", sans-serif; /* Font untuk judul */
  font-size: 20px; /* Ukuran font untuk judul */
  font-weight: bold; /* Tebal font */
}

.custom-swal-icon {
  font-size: 8px; /* Font pada icon */
  height: 50px;
  width: 50px;
}
